Back-end/scripts/__pycache__/chat_manager.cpython-39.pyc
Back-end/scripts/__pycache__/create_health_summary.cpython-39.pyc
Back-end/scripts/__pycache__/device_data_query.cpython-39.pyc
Back-end/scripts/__pycache__/embeddings_manager.cpython-39.pyc
Back-end/scripts/__pycache__/llm_manager.cpython-39.pyc
Back-end/scripts/__pycache__/pdf_reader.cpython-39.pyc
Back-end/scripts/__pycache__/pinecone_manager.cpython-39.pyc
Back-end/scripts/__pycache__/prompt_generator.cpython-39.pyc
Back-end/importedData/compareresponses.csv
Back-end/scripts/.env
Back-end/scripts/__pycache__/data_manager.cpython-39.pyc
Back-end/importedData/Statistical Tools to Analyze Continuous Glucose Monitor Data - PMC.pdf
db_api_backend/bin/database/clean.sql
node_modules

venv/
Back-end/server/__pycache__/llm_manager.cpython-39.pyc
Back-end/server/__pycache__/

read.md
feedback.json
