.admin-page {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: rgba(225, 225, 225, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-height: 80vh;
    overflow-y: auto;

}



.admin-page h1,
.admin-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.settings-group {
    margin-bottom: 20px;
}

.settings-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.settings-group input[type="range"],
.settings-group input[type="number"],
.settings-group input[type="date"],
.settings-group input[type="time"],
.settings-group input[type="text"],
.settings-group select,
.settings-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.settings-group input[type="range"] {
    margin-top: 10px;
}

.settings-group span {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.settings-group textarea {
    resize: vertical;
}

button:hover {
    background-color: #0056b3;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ccc;
}

@media (max-width: 600px) {
    .admin-page {
        padding: 15px;
    }

    .settings-group label {
        font-size: 14px;
    }

    .settings-group input,
    .settings-group select,
    .settings-group textarea,
    button {
        font-size: 14px;
    }
}


.btn-save-settings, .btn-add-data, .btn-logout{
    width: 100%;
    color: #fff;
    background-color: #0056b3;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-save-settings:hover, .btn-add-data, .btn-logout{
    background-color: #004694;
}

.file-input {
    color: black;
}


